
:root {
    --font-size: 16px;
    --color-bg: #011627;
    --color-text: #ffffff;
    --color-primary: #00babc;
    --color-secondary: #007174;
    --color-intra: #00282C;
    --color-google: #ffffff;
    --color-border: #00babc66;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Exo2';
    src: url('/static/assets/fonts/Exo2-Italic.ttf');
    font-weight: 100 900;
    font-style: normal;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: var(--color-bg);
    overflow-x: hidden;
}
